<?php session_start(); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>遥点平台</title>
    <link href="__CSS__/css.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="__JS__/sdmenu.js"></script>
    <script type="text/javascript">
        // <![CDATA[
        var myMenu;
        window.onload = function() {
            myMenu = new SDMenu("my_menu");
            myMenu.init();
        };
        // ]]>
    </script>
    <style type=text/css>
        html{ SCROLLBAR-FACE-COLOR: #538ec6; SCROLLBAR-HIGHLIGHT-COLOR: #dce5f0; SCROLLBAR-SHADOW-COLOR: #2c6daa; SCROLLBAR-3DLIGHT-COLOR: #dce5f0; SCROLLBAR-ARROW-COLOR: #2c6daa;  SCROLLBAR-TRACK-COLOR: #dce5f0;  SCROLLBAR-DARKSHADOW-COLOR: #dce5f0; overflow-x:hidden;}
        body{overflow-x:hidden; background:url(__IMAGE__/main/leftbg.jpg) left top repeat-y #f2f0f5; width:194px;}
    </style>
</head>
<body onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;">
<div id="left-top">
    <span>用户：<{$_SESSION['list'][0]['user_phone']}>
    	<br>角色：
         <{$_SESSION['role_name']}>
    </span>
</div>
<div style="float: left" id="my_menu" class="sdmenu">
    <volist name="res" id="v" key="k">
        <div class="collapsed">
            <span><{$v.name}></span>
            <volist name="res1" id="vo" key="k">

                <?php
        	if($vo['menu_p']==$v['id']){
			echo "<a target='mainFrame' onFocus='this.blur()'". "href='__MODULE__/".$vo['menu_c']."/".$vo['menu_a']."'" .">".$vo['name']."</a>";
                }
                ?>
            </volist>
        </div>
    </volist>



</div>
</body>
</html>